:root{
  --bg-clr:#31383F;
  --primary-clr:#3aafdc;
  --text-clr:#cbd5e1
}

body{
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bg-clr);
  color: var(--text-clr);
}

  .common-row{
    display: flex;
    flex-direction: row;
  }

  .tic-tac-container{
    height: 100vh;

  }