.squares {
    background: #272727;
    border: none;
    font-size: 5rem;
    cursor: pointer;
    outline: none;
  }

  .common-row{
    display: flex;
    flex-direction: row;
  }

  .box{
    border: 3px solid skyblue;
    padding: 1.5em;
  }