.squares {
  padding: 0.5em;
  border: none;
  font-size: 5rem;
  cursor: pointer;
  color: aqua;
  border: 1px solid blue;
}

  .common-row{
    display: flex;
    flex-direction: row;
  }

  .box{
    border: 3px solid skyblue;
    padding: 1.5em;
  }